<jenkins.triggers.<%=get_plugin_name(group,element_name)%>>
  <% element_params.each do |key,value| %> 
    <%= hash_to_xml(group,element_name,key,value) %>
  <% end %>
</jenkins.triggers.<%=get_plugin_name(group,element_name)%>>