<<%= get_type_class_name(group,element_name) %> plugin="<%=get_plugin_name(group,element_name)%>@<%= get_plugin_version(group,element_name) %>">
<patterns>
<% element_params['patterns'].each do |pattern| %>
  <% if pattern['pattern'].to_s != '' %>
    <hudson.plugins.ws__cleanup.Pattern>
        <pattern><%=pattern['pattern']%></pattern>
        <type><%=pattern['type']%></type>
    </hudson.plugins.ws__cleanup.Pattern>
  <% end %>
<% end %>
</patterns>
<% element_params.delete('patterns') %>
<% element_params.each do |key,value| %> 
  <<%=key%>><%=value%></<%=key%>>
<% end %>
</<%= get_type_class_name(group,element_name) %>>