 <<%=get_type_class_name(group,element_name)%> plugin="<%=get_plugin_name(group,element_name)%>@<%=get_plugin_version(group,element_name)%>">

  <% if element_params.key?('joinPublishers') %>
  <joinPublishers>
  <% params=element_params['joinPublishers'] %>
  <%= apply_template(group,params) %>
  </joinPublishers>
  <% end %>
  <% element_params.delete('joinPublishers') %>

  <% element_params.each do |key,value| %> 
    <%= hash_to_xml(group,element_name,key,value) %>
  <% end %>

</<%=get_type_class_name(group,element_name)%>>