<<%=get_type_class_name(group,element_name)%> plugin="<%=get_plugin_name(group,element_name)%>@<%=get_plugin_version(group,element_name)%>">
  <configs>

  <% element_params['triggers'].each do |config|  %>

    <% blockable=config['block'] %>
    <% config.delete('block') %>

    <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig> 
  
      <% if config.key?('configs') %>
      <configs>
      <% config['configs'].each do |key,value| %>
      <%= hash_to_xml(group,element_name,key,value) %>
      <% end %>
      </configs>
      <% end %>
      <% config.delete('configs') %>

      <% if blockable == "true" %>
         <block>
          <buildStepFailureThreshold>
            <name>FAILURE</name>
            <ordinal>2</ordinal>
            <color>RED</color>
            <completeBuild>true</completeBuild>
          </buildStepFailureThreshold>
          <unstableThreshold>
            <name>UNSTABLE</name>
            <ordinal>1</ordinal>
            <color>YELLOW</color>
            <completeBuild>true</completeBuild>
          </unstableThreshold>
          <failureThreshold>
            <name>FAILURE</name>
            <ordinal>2</ordinal>
            <color>RED</color>
            <completeBuild>true</completeBuild>
          </failureThreshold>
        </block>
      <% end %>
      

      <% config.each do |key,value| %>
      <%= hash_to_xml(group,element_name,key,value) %>
      <% end %>

    </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig> 
    
  <% end %>
  </configs>
</<%=get_type_class_name(group,element_name)%>>