<scm class="<%= get_type_class_name(group,element_name) %>" plugin="<%= get_plugin_name(group,element_name) %>@<%= get_plugin_version(group,element_name) %>">
  <configVersion>2</configVersion>
  <userRemoteConfigs>
    <hudson.plugins.<%= get_plugin_name(group,element_name) %>.UserRemoteConfig>
      <url><%= element_params['url'] %></url>
    </hudson.plugins.git.UserRemoteConfig>
  </userRemoteConfigs>
  <branches>
    <hudson.plugins.<%= get_plugin_name(group,element_name) %>.BranchSpec>
      <name><%= element_params['branch'] %></name>
    </hudson.plugins.<%= get_plugin_name(group,element_name) %>.BranchSpec>
  </branches>
  <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
  <submoduleCfg class="list"/>
  <extensions>
    <% if element_params.key?('extensions') %>
    <hudson.plugins.<%= get_plugin_name(group,element_name) %>.extensions.impl.<%= element_params['extensions']['type'] %>>
        <% if element_params['extensions'].key?('params') %>
            <% element_params['extensions']['params'].each do |key,value| %>
            <<%=key%>><%=value%></<%=key%>>
            <% end %>
        <% end %>
    </hudson.plugins.<%= get_plugin_name(group,element_name) %>.extensions.impl.<%= element_params['extensions']['type'] %>>
    <% end %>
  </extensions>
 </scm>