<scm class="<%= get_type_class_name(group,element_name) %>" plugin="<%= get_plugin_name(group,element_name) %>@<%= get_plugin_version(group,element_name) %>">
  <scms>
    <%= multi_scm_content %>
  </scms>
</scm>