<scm class="<%= get_type_class_name(group,element_name) %>" plugin="<%= get_plugin_name(group,element_name) %>@<%= get_plugin_version(group,element_name) %>">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote><%=element_params['remote']%></remote>
        <credentialsId><%=element_params['credentialsId']%></credentialsId>
        <local><%=element_params['local']%></local>
        <depthOption><%=element_params['depthOption']%></depthOption>
        <ignoreExternalsOption><%=element_params['ignoreExternalsOption']%></ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>

    <%
        element_params.delete('remote')
        element_params.delete('credentialsId')
        element_params.delete('local')
        element_params.delete('depthOption')
        element_params.delete('ignoreExternalsOption')
    %>

    <% element_params.each do |key,value| %> 
        <%= hash_to_xml(group,element_name,key,value) %>
    <% end %>
</scm>