<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
<% @_properties.each do |prop_name,opts_array| %>
  <% if opts_array['enabled'] == true %>
  <jenkins.model.<%=prop_name%>>
     <strategy class="hudson.tasks.<%=opts_array['strategy']%>">
      <% opts_array['options'].each do |key,value| %>
        <<%=key%>><%=value%></<%=key%>>
      <% end %>
     </strategy>
  </jenkins.model.<%=prop_name%>>
  <% end %>
<% end %>
  </properties>
<% if @_scm.size() > 1 %>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.5">
  <scms>
<% else %>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
<% end %>
<% @_scm.each do |scm_item| %>
  <% if @_scm.size() > 1 %>
    <hudson.plugins.git.GitSCM plugin="git@2.4.2">
  <% end %>
  <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url><%=scm_item['git_url']%></url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name><%=scm_item['git_branch']%></name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions>
<% if scm_item['git_subdirectory']%>    
        <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
          <relativeTargetDir><%=scm_item['git_subdirectory']%></relativeTargetDir>
        </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
<% end %>
      </extensions> 
  <% if @_scm.size() > 1 %>
    </hudson.plugins.git.GitSCM>
  <% end %>
<% end %> 
<% if @_scm.size() > 1 %>
  </scms>
<% end %>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
<% if @_build_trigger.key?('timer_trigger') %>     
    <hudson.triggers.TimerTrigger>
      <spec><%=@_build_trigger['timer_trigger']%></spec>
    </hudson.triggers.TimerTrigger>
<% end %>
<% if @_build_trigger.key?('scm_trigger') %>     
    <hudson.triggers.SCMTrigger>
      <spec><%=@_build_trigger['scm_trigger']%></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
<% end %>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
  <!--
  #######################################################
  builders BEGIN
  #######################################################
  -->
<% @_tasks.each do |task| %>
  <% task.each do |build_item,build_opts| %>
    <% if build_item == 'JobcopyBuilder' %>
    <jp.ikedam.jenkins.plugins.jobcopy__builder.JobcopyBuilder plugin="jobcopy-builder@1.3.0">
    <% build_opts.each do |key,value| %> 
        <<%=key%>><%=value%></<%=key%>>
    <% end %>
    </jp.ikedam.jenkins.plugins.jobcopy__builder.JobcopyBuilder>
    <% elsif build_item == 'CopyArtifact' %>
      <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.37">   
      <% if build_opts.key?('selector') %>
      <% selector=build_opts['selector'] %>
      <% if selector.key?('options') %>
      <selector class="hudson.plugins.copyartifact.<%=selector['name']%>">
      <% selector['options'].each do |opt_key,opt_value| %> 
        <<%=opt_key%>><%=opt_value%></<%=opt_key%>>
      <% end %>
      </selector>
      <% else %>
        <selector class="hudson.plugins.copyartifact.<%=selector['name']%>"/>
      <% end %>
      <% else %>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <% end %>

      <% build_opts.delete('selector') %>

      <% build_opts.each do |key,value| %> 
        <<%=key%>><%=value%></<%=key%>>
      <% end %>     
    </hudson.plugins.copyartifact.CopyArtifact>
    <!--
    TriggerBuilder
    -->
    <% elsif build_item == 'TriggerBuilder' %>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.30">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
        <configs>
        <% if build_opts.key?('parameterizedtrigger') %>
        <% trigger_opts=build_opts['parameterizedtrigger'] %>
        <% trigger_name=trigger_opts['name'] %> 
        <% trigger_opts.delete('name') %> 
          <hudson.plugins.parameterizedtrigger.<%=trigger_name%>>
          <% if trigger_opts.key?('options') %>
            <% trigger_opts['options'].each do |key,value| %> 
              <<%=key%>><%=value%></<%=key%>>
            <% end %>
          <% end %> 
          </hudson.plugins.parameterizedtrigger.<%=trigger_name%>>

        <% end %>
        </configs>

        <% build_opts.delete('parameterizedtrigger') %> 
       
        <% build_opts.each do |key,value| %> 
        <<%=key%>><%=value%></<%=key%>>
        <% end %> 

        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <% else %>
    <!--
    Generic Builder
    -->
    <hudson.tasks.<%=build_item%>>
      <% build_opts.each do |key,value| %> 
        <<%=key%>><%=value%></<%=key%>>
      <% end %>
    </hudson.tasks.<%=build_item%>>
    <!--
    Generic Builder
    -->
    <% end %>
  <% end %>
<% end %> 
<!--
  #######################################################
  builders BEGIN
  #######################################################
  -->  
  </builders>
<publishers>
<% @_publishers.each do |publ_name,publ_opts| %> 
    <!--
    #######################################################
    WsCleanup BEGIN
    #######################################################
    -->
    <% if publ_name == 'WsCleanup' and publ_opts['enabled'] == true %>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.28">
      <% if publ_opts %>
      <% opts=publ_opts %>
        <% if opts.key?('include_patterns') or opts.key?('exclude_patterns')  %> 
          <patterns>
            <% if opts.key?('include_patterns') and opts['include_patterns'].kind_of?(Array) %> 
              <% opts['include_patterns'].each do |pattern| %> 
                <hudson.plugins.ws__cleanup.Pattern>
                <pattern><%=pattern%></pattern>
                <type>INCLUDE</type>
                </hudson.plugins.ws__cleanup.Pattern>
              <% end %>
            <% end %>
            <% if opts.key?('exclude_patterns') and opts['exclude_patterns'].kind_of?(Array) %> 
              <% opts['exclude_patterns'].each do |pattern| %> 
                <hudson.plugins.ws__cleanup.Pattern>
                <pattern><%=pattern %></pattern>
                <type>EXCLUDE</type>
                </hudson.plugins.ws__cleanup.Pattern>
              <% end %>
            <% end %>
          </patterns>
        <% end %>       
        <% if opts.key?('deleteDirs') %>
          <deleteDirs><%=opts['deleteDirs']%> </deleteDirs>
        <% else %>
          <deleteDirs>false</deleteDirs>
        <% end %>
        <% if opts.key?('skipWhenFailed') %>
          <skipWhenFailed><%=opts['skipWhenFailed']%> </skipWhenFailed>
        <% else %>
          <skipWhenFailed>false</skipWhenFailed>
        <% end %>
        <% if opts.key?('cleanWhenSuccess') %>
          <cleanWhenSuccess><%=opts['cleanWhenFailure']%> </cleanWhenSuccess>
        <% else %>
          <cleanWhenSuccess>true</cleanWhenSuccess>
        <% end %>
        <% if opts.key?('cleanWhenUnstable') %>
          <cleanWhenUnstable><%=opts['cleanWhenUnstable']%> </cleanWhenUnstable>
        <% else %>
          <cleanWhenUnstable>true</cleanWhenUnstable>
        <% end %>
        <% if opts.key?('cleanWhenFailure') %>
          <cleanWhenFailure><%=opts['cleanWhenFailure']%> </cleanWhenFailure>
        <% else %>
          <cleanWhenFailure>true</cleanWhenFailure>
        <% end %>
        <% if opts.key?('cleanWhenNotBuilt') %>
          <cleanWhenNotBuilt><%=opts['cleanWhenFailure']%> </cleanWhenNotBuilt>
        <% else %>
          <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
        <% end %>
        <% if opts.key?('cleanWhenAborted') %>
          <cleanWhenAborted><%=opts['cleanWhenFailure']%> </cleanWhenAborted>
        <% else %>
          <cleanWhenAborted>true</cleanWhenAborted>
        <% end %>
        <% if opts.key?('notFailBuild') %>
          <notFailBuild><%=opts['notFailBuild']%> </notFailBuild>
        <% else %>
          <notFailBuild>false</notFailBuild>
        <% end %>
        <% if opts.key?('cleanupMatrixParent') %>
           <cleanupMatrixParent><%=opts['cleanWhenFailure']%> </cleanupMatrixParent>
        <% else %>
           <cleanupMatrixParent>false</cleanupMatrixParent>
        <% end %>
        <% if opts.key?('externalDelete') %>
           <externalDelete><%=opts['externalDelete']%> </externalDelete>
        <% else %>
           <externalDelete></externalDelete>
        <% end %>
      <% else %>
          <deleteDirs>false</deleteDirs>
          <skipWhenFailed>false</skipWhenFailed>
          <cleanWhenSuccess>true</cleanWhenSuccess>
          <cleanWhenUnstable>true</cleanWhenUnstable>
          <cleanWhenFailure>true</cleanWhenFailure>
          <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
          <cleanWhenAborted>true</cleanWhenAborted>
          <notFailBuild>false</notFailBuild>
          <cleanupMatrixParent>false</cleanupMatrixParent>
          <externalDelete></externalDelete>
      <% end %>
    </hudson.plugins.ws__cleanup.WsCleanup>
    <!--
    #######################################################
    BuildTrigger BEGIN
    #######################################################
    -->
    <% elsif publ_name == 'BuildTrigger' %>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
      <configs>
        <% publ_opts.each do |trigger_params| %>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
        <configs>
        <% if trigger_params.key?('parameterizedtrigger') %>
        <% trigger_opts=trigger_params['parameterizedtrigger'] %>
        <% trigger_name=trigger_opts['name'] %> 
        <% trigger_opts.delete('name') %> 
          <hudson.plugins.parameterizedtrigger.<%=trigger_name%>>
          <% if trigger_opts.key?('options') %>
            <% trigger_opts['options'].each do |key,value| %> 
              <<%=key%>><%=value%></<%=key%>>
            <% end %>
          <% end %> 
          </hudson.plugins.parameterizedtrigger.<%=trigger_name%>>
        <% end %>
        </configs>
        <% trigger_params.delete('parameterizedtrigger') %> 
        <% trigger_params.each do |key,value| %> 
        <<%=key%>><%=value%></<%=key%>>
        <% end %>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      <% end %>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
     <!--
    #######################################################
    JoinTrigger BEGIN
    #######################################################
    -->
    <% elsif publ_name == 'JoinTrigger' %>
    <join.JoinTrigger plugin="join@1.19">
    <% if publ_opts.key?('joinPublishers') %>
    <joinPublishers>
      <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
        <configs>
          <% arr_join_publishers=publ_opts['joinPublishers'] %>
          <% arr_join_publishers.each do |pub| %>
            <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
            <configs>
            <% if pub.key?('parameterizedtrigger') %>
            <% trigger_opts=pub['parameterizedtrigger'] %>
            <% trigger_name=trigger_opts['name'] %> 
            <% trigger_opts.delete('name') %> 
              <hudson.plugins.parameterizedtrigger.<%=trigger_name%>>
              <% if trigger_opts.key?('options') %>
                <% trigger_opts['options'].each do |key,value| %> 
                  <<%=key%>><%=value%></<%=key%>>
                <% end %>
              <% end %> 
              </hudson.plugins.parameterizedtrigger.<%=trigger_name%>>
            <% end %>
            </configs>
            <% pub.delete('parameterizedtrigger') %> 
            <% pub.each do |key,value| %> 
            <<%=key%>><%=value%></<%=key%>>
            <% end %>
            </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <% end %>
        </configs>
      </hudson.plugins.parameterizedtrigger.BuildTrigger>
    </joinPublishers>
    <% end %>

    <% publ_opts.delete('joinPublishers') %>
    <% publ_opts.each do |key,value| %>
    <<%=key%>><%=value%></<%=key%>>
    <% end %>
 
    </join.JoinTrigger>
    <% else %> 
        <!--
        #######################################################
        GENERIC BEGIN
        #######################################################
        -->
        <% if publ_opts['enabled'] == true %>
        <% publ_opts.delete('enabled') %>
        <hudson.tasks.<%=publ_name %>> 
        <% publ_opts.each do |key,value| %>
          <<%=key%>><%=value%></<%=key%>>
        <% end %>
        </hudson.tasks.<%=publ_name %>> 
        <% end %>
        <!--
        #######################################################
        GENERIC END
        #######################################################
        -->
    <% end %>
    <!--
    #######################################################
     WsCleanup END
    #######################################################
    -->
<% end %>
  </publishers>
  <buildWrappers>
    <% @_build_wrappers.each do |wrapper_name,wrapper_opts| %> 
     <% if wrapper_name == 'PreBuildCleanup' and wrapper_opts['enabled'] == true %> 
     <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.28">
     <% if wrapper_opts.key?('include_patterns') or wrapper_opts.key?('exclude_patterns')  %> 
      <patterns>
        <% if wrapper_opts.key?('include_patterns') and wrapper_opts['include_patterns'].kind_of?(Array) %> 
          <% wrapper_opts['include_patterns'].each do |pattern| %> 
            <hudson.plugins.ws__cleanup.Pattern>
            <pattern><%=pattern%></pattern>
            <type>INCLUDE</type>
            </hudson.plugins.ws__cleanup.Pattern>
          <% end %>
          <% wrapper_opts.delete('include_patterns') %>
        <% end %>
        <% if wrapper_opts.key?('exclude_patterns') and wrapper_opts['exclude_patterns'].kind_of?(Array) %> 
          <% wrapper_opts['exclude_patterns'].each do |pattern| %> 
            <hudson.plugins.ws__cleanup.Pattern>
            <pattern><%=pattern %></pattern>
            <type>EXCLUDE</type>
            </hudson.plugins.ws__cleanup.Pattern>
          <% end %>
        <% end %>
      </patterns>
    <% end %>      
    <% wrapper_opts.delete('enabled') %>
    <% wrapper_opts.delete('include_patterns') %>
    <% wrapper_opts.delete('exclude_patterns') %> 
      <% wrapper_opts.each do |key,value| %>
            <<%=key%>><%=value%></<%=key%>>
      <% end %>
     </hudson.plugins.ws__cleanup.PreBuildCleanup>
     <% end %>
    <% end %> 
  </buildWrappers>
</project>
    