<hudson.matrix.<%=element_name%>>
  <name><%=element_params['name']%></name>
  <values>
  <%element_params['values'].each do |val| %>
  <string><%=val.encode(:xml => :text)%></string>
  <%end%>
  </values>
</hudson.matrix.<%=element_name%>>