<% if is_type_referring_to_plugin(group,element_name) %>
<<%= get_type_class_name(group,element_name) %> plugin="<%=get_plugin_name(group,element_name)%>@<%= get_plugin_version(group,element_name) %>">
<% element_params.each do |key,value| %> 
  <%= hash_to_xml(group,element_name,key,value) %>
<% end %>
</<%= get_type_class_name(group,element_name) %>>
<% else %>
<hudson.build_wrappers.<%=get_plugin_name(group,element_name)%>>
  <% element_params.each do |key,value| %> 
    <%= hash_to_xml(group,element_name,key,value) %>
  <% end %>
</hudson.build_wrappers.<%=get_plugin_name(group,element_name)%>>
<% end %>