<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@<%=get_version('matrix-project')%>">
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>

  <% if job_axes_content == '' %>
    <axes/>
  <% else %>
    <axes>
  <%= job_axes_content %>
    </axes>
  <% end %>

  <% if job_actions_content == '' %>
    <actions/>
  <% else %>
    <actions>
  <%= job_actions_content %>
    </actions>
  <% end %>
  
  <% if description == '' %>
    <description/>
  <% else %>
    <description>
  <%= description %>
    </description>
  <% end %>

  <% if job_properties_content == '' %>
    <properties/>
  <% else %>
    <properties>
  <%= job_properties_content %>
    </properties>
  <% end %>

  <% if job_scm_content == '' %>
  <scm class="hudson.scm.NullSCM"/>
  <%else%>
  <%= job_scm_content %>
  <%end%>

  <% if job_triggers_content == '' %>
    <triggers/>
  <% else %>
    <triggers>
  <%= job_triggers_content %>
    </triggers>
  <% end %>

  <% if job_builders_content == '' %>
    <builders/>
  <% else %>
    <builders>
  <%= job_builders_content %>
    </builders>
  <% end %>

  <% if job_publishers_content == '' %>
    <publishers/>
  <% else %>
    <publishers>
  <%= job_publishers_content %>
    </publishers>
  <% end %>

  <% if job_build_wrappers_content == '' %>
    <buildWrappers/>
  <% else %>
    <buildWrappers>
  <%= job_build_wrappers_content %>
    </buildWrappers>
  <% end %>

  <% element_params.each do |key,value| %> 
    <%= hash_to_xml('jenkins-matrix-job','root',key,value) %>
  <% end %>
</matrix-project>
