<jenkins.model.<%=get_plugin_name(group,element_name)%>>
   <strategy class="hudson.tasks.<%=element_params['strategy']%>">
   <% element_params.delete('strategy') %>
      <% element_params.each do |key,value| %> 
        <%= hash_to_xml(group,element_name,key,value) %>
      <% end %>
   </strategy>
</jenkins.model.<%=get_plugin_name(group,element_name)%>>
